@import "./varable.scss";

* {
  margin: 0;
  padding: 0;
}
//home page
.data-container {
  margin: 50px;
}
.container {
  display: $container-display;
}
.container-right {
  height: 100vh;
  flex: 4;
}
.container-img {
  flex: 6;
}
.logo {
  width: 35%;
  height: 8%;
}
.container-sign-in-up {
  float: right;
  .product-btn {
    margin-right: 3px;
  }
}
.mainImg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 100%;
  top: 0;
  background-color: hsla(26, 5%, 70%, 0.2);
}
a {
  text-decoration: none;
}
button {
  border-radius: 5px;
  background-color: rgb(132, 228, 165);
}
//sign in page
.container-signIn {
  @include signFrom();
  h2 {
    margin-bottom: 15px;
  }
  label {
    display: inline-block;
    width: 110px;
    color: #777777;
  }
 .buttonSignIn {
    width: 65%;
    margin-top: 10px;
  }
}

h2 {
  text-align: center;
}
.container-signUp {
  @include signFrom();
  .signUp-heading {
    margin-bottom: 15px;
  }
  label {
    display: inline-block;
    width: 165px;
    color: #777777;
  }
  .submit {
    width: 80%;
    margin-top: 10px;
  }
}
// product list page css
.productListPage {
  .heading-product {
    font-size: 30px;
    margin-bottom: 5px;

    .btn-container {
      float: right;
    }
  }
  .listContainer {
    display: $container-display;
    flex-wrap: wrap;
    justify-content: space-around;
    .card {
      width: 120px;
      height: 300px;
      box-shadow: 20px 20px 50px grey;
      .cardImg {
        width: 100%;
        height: 30%;
      }
      .card-name-detail {
        height: 150px;
      }
      .card-btn {
        width: 80%;
        text-align: center;
        margin-left: 12px;
      }
    }
  }
}
// product navbar


.product-nav {
  width: 100%;
  height: 60px;
  background-color: skyblue;
}

.nav_box {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 60px;
}
.my_shop {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  font-family: cursive;
  cursor: pointer;
}
.cart {
  cursor: pointer;
}
.cart span:nth-child(2) {
  font-size: 2rem;
  color: white;
}
.cart span:nth-child(3) {
  padding: 0 3px;
  background-color: red;
  color: white;
  font-weight: bolx;
  border-radius: 5px;
  position: relative;
  top: -15px;
}
//cart item
.cart-item{
  height: 25px;
  .cart-img{
    height: 100%;

  }
}
// admin page user list
.user-list{
  span{
    margin-right: 13px;
  }
}